<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Инструкция по API</title>
</head>
<body>
    <h2><b>Инструкция к API</b></h2><br><br>

    <b>ВНИМАНИЕ!</b><br>
    <p>Чтобы описанные ниже запросы сработали - при отправке их необходимо добавлять к адресу <a href="http://localhost:8080/">http://localhost:8080/</a></p>
    <p>Например, правильная ссылка для отправки GET-запроса на получение всех тестов будет выглядеть так: <a href="http://localhost:8080/get/tests/">http://localhost:8080/get/tests/</a></p>

    <b>ПРИ ОТЛАДКЕ САЙТА НА HEROKU!</b><br>
    <p>Чтобы описанные ниже запросы сработали - при отправке их необходимо добавлять к текущму адресу в Heroku</p>
    <p>Например, правильная ссылка для отправки GET-запроса на получение всех тестов будет выглядеть так: ваша www.your_link.com/get/tests/</p>
    
    <p><b>sign_up/</b> - POST-запрос для регистрации пользователя. Тело POST-запроса:</p>
    <textarea rows="5" cols="100">{
        "username": "Логин пользователя",
        "email": "Почта пользователя",
        "password": "Пароль пользователя"
    }</textarea>
    <p><b>После выполнения запроса необходимо авторизироваться в системе с помощью запроса log_in/.</b></p>

    <p><b>log_in/</b> - POST-запрос для входа в систему. Тело POST-запроса:</p>
    <textarea rows="4" cols="100">{
        "username": "Логин пользователя",
        "password": "Пароль пользователя"
    }</textarea>
    <p><b>После выполнения запроса необходимо взять из cookies значение параметра csrftoken и поместить в заголовок с названием X-CSRFToken. Проделывать данное действие необходимо после каждого нового входа пользователя в систему.</b></p>

    <p><b>log_out/</b> - GET-запрос для выхода из системы.</p>

    <p><b>tests/</b> - GET-запрос для получения всех тестов.</p>

    <p><b>answer/</b> - POST-запрос для входа в систему. Тело POST-запроса:</p>
    <textarea rows="5" cols="150">{
        "test_id": 1, // id-теста, который проходит пользователь
        "answers": [2, 3, 1, 2, 3, 1, 2, 3, 1, 2] // список ответов на вопросы в тесте, ответы на вопросы - это параметр number ответа.
        // Первый элемент списка - ответ на первый вопрос, второй элемент списка - ответ на второй вопрос и т. д.
    }</textarea>
    <p><b>Данный POST-запрос имеет возможность отправлять только авторизованный пользователь</b></p>
</body>
</html>
